
#rcorners1 {
  border-radius: 40px;
  background: #73AD21;
  padding: 30px;
  text-align: center;

}

#rcorners3 {
  border-radius: 100px;
  /* background: #c483ee; */
  margin: 20px;
  text-align: center;

}

#rcorners3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

#notrcorners {
  border-radius: 25px;
  background: #c483ee;
  /* padding: 1px; */
  text-align: center;

}


/* #shadow:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/
#rcorners4 {
  border-radius: 25px;
  background: #2177ad;
  padding: 70px;
  margin: 60px;
  text-align: center;
}
#rcorners4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

#dropdown-trigger:hover + #dropdown {
  display: block;
}

#hidden:hover{
display:inline ;
}

#rcorners2 {
  border-radius: 50px;
  background: #2177ad;
  padding: 50px;
  margin: 30px;
  text-align: center;
}

#rcorners2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#title {
  padding: 30px;
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact;
}

#sous-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact;
}

#Bgcolor {
  background-color: rgb(210, 118, 210);
  padding: 30px;

}

#colorBg {
  background-color: rgba(234, 0, 255, 0.5);
  padding: 30px;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: courier;
  border-radius: 25px;
}

#textSz {
  font-size: 200px;
}

#center {
  text-align: right;

}
